In [1]:
#  Data comes from: 
#  https://www.fcc.gov/general/broadband-deployment-data-fcc-form-477
#  https://www.fcc.gov/reports-research/reports/measuring-broadband-america/charts-measuring-broadband-america-2016

In [2]:
import pandas as pd
import numpy as np
import plotnine as p9

In [3]:
maryland = pd.read_csv("/Users/colinsullivan/MD-Fixed-Jun2017-v1.csv")

In [4]:
maryland.head()

,LogRecNo,Provider_Id,FRN,ProviderName,DBAName,HoldingCompanyName,HocoNum,HocoFinal,StateAbbr,BlockCode,TechCode,Consumer,MaxAdDown,MaxAdUp,Business,MaxCIRDown,MaxCIRUp
0,27291,29742,18511246,VDL INC d/b/a Global Telecom Brokers,Global Telecom Brokers,VDL Inc.,131420,VDL Inc.,MD,240037011011000,30,0,0.0,0.0,1,1.5,1.5
1,27292,29742,18511246,VDL INC d/b/a Global Telecom Brokers,Global Telecom Brokers,VDL Inc.,131420,VDL Inc.,MD,240037023002014,30,0,0.0,0.0,1,1.5,1.5
2,27293,29742,18511246,VDL INC d/b/a Global Telecom Brokers,Global Telecom Brokers,VDL Inc.,131420,VDL Inc.,MD,240037061013011,30,0,0.0,0.0,1,1.5,1.5
3,27294,29742,18511246,VDL INC d/b/a Global Telecom Brokers,Global Telecom Brokers,VDL Inc.,131420,VDL Inc.,MD,240037063011015,30,0,0.0,0.0,1,1.5,1.5
4,27295,29742,18511246,VDL INC d/b/a Global Telecom Brokers,Global Telecom Brokers,VDL Inc.,131420,VDL Inc.,MD,240037065001023,30,0,0.0,0.0,1,1.5,1.5

In [13]:
advertised = maryland[['DBAName','MaxAdDown','MaxAdUp']].groupby(['DBAName']).agg(['mean'])

In [20]:
advertised.head()

                          MaxAdDown MaxAdUp
                               mean    mean
DBAName
24/7 Mid-Atlantic Network       0.0     0.0
ALTIUS Broadband               50.0    50.0
Access One, Inc.                0.0     0.0
All Points Broadband           15.0     4.0
Allied Telecom Group LLC        0.0     0.0

In [ ]:
test =