In [1]:
#  Data comes from: 
#  https://www.fcc.gov/general/broadband-deployment-data-fcc-form-477
#  https://www.fcc.gov/reports-research/reports/measuring-broadband-america/charts-measuring-broadband-america-2016

In [1]:
import pandas as pd
import numpy as np
import plotnine as p9

In [11]:
maryland = pd.read_csv("MD_advertised.csv")
download = pd.read_csv("MD_down_county.csv")
upload = pd.read_csv("MD_up_county.csv")

In [12]:
maryland.head()

                  DBAName  MaxAdDown  MaxAdUp
0  Global Telecom Brokers        0.0      0.0
1  Global Telecom Brokers        0.0      0.0
2  Global Telecom Brokers        0.0      0.0
3  Global Telecom Brokers        0.0      0.0
4  Global Telecom Brokers        0.0      0.0

In [13]:
advertised = maryland[['DBAName', 'MaxAdDown', 'MaxAdUp']].groupby(['DBAName']).agg(['mean'])

In [19]:
advertised.head()

                          MaxAdDown MaxAdUp
                               mean    mean
DBAName
24/7 Mid-Atlantic Network       0.0     0.0
ALTIUS Broadband               50.0    50.0
Access One, Inc.                0.0     0.0
All Points Broadband           15.0     4.0
Allied Telecom Group LLC        0.0     0.0

In [6]:
download.head()

,OBJECTID,C0_NAME,Cnt_C0_NAME,Min_Download,Max_Download,Ave_Download,SHAPEarea,SHAPElen
0,1,Allegany,383,0,225930,8696.577023,1.824785e+09,4.671261e+05
1,2,Anne Arundel,1904,0,208803,16184.321429,1.778026e+09,1.254422e+06
2,3,Baltimore,2610,0,262450,18535.531801,2.608355e+09,1.183828e+06
3,4,Baltimore City,1955,27,175997,11553.283887,3.513710e+08,2.510998e+05
4,5,Calvert,319,47,54814,12195.250784,9.087738e+08,4.525549e+05

In [7]:
upload.head()

,OBJECTID,C0_NAME,Cnt_C0_NAME,Min_Upload,Max_Upload,Ave_Upload,SHAPEarea,SHAPElen
0,1,Allegany,383,34,38015,2683.971279,1.824785e+09,4.671261e+05
1,2,Anne Arundel,1904,46,71204,5996.515756,1.778026e+09,1.254422e+06
2,3,Baltimore,2610,49,216038,5613.704981,2.608355e+09,1.183828e+06
3,4,Baltimore City,1955,5,84693,3227.357545,3.513710e+08,2.510998e+05
4,5,Calvert,319,50,11656,2883.808777,9.087738e+08,4.525549e+05

In [ ]:
test =